.footer_top_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 102px;
  width: 1575px;
  font-family: Montserrat;
  background-color: rgba(20, 20, 20, 1);
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 35px;
}
.footer_ul_container ul {
  padding: 0;
  width: 235px;
}
.footer_ul_container p {
  transition: 0.3s ease-in-out;
}
.footer_ul_container p:hover {
  cursor: pointer;
  color: rgba(232, 170, 49, 1);
}

.footer_ul_container li span {
  /* list-style-type: none; */
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 21.94px;
}

.footer_ul_container li {
  list-style-type: none;
  line-height: 35px;
  font-size: 16px;
}
